body {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
  }

header {
	padding: 1em 0;
}

header h1 {
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: .75em;
}

p {
	padding: 1.25em;
}

footer {
	text-align: center;
	padding: 4em;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

img {
	width: 50%;
    max-width: 50%;
    
}

@media screen and (max-width: 480px) {
	nav ul li {
		margin: 1em 0;
		display: block;
		font-size: 1em;
	}
	
